{{template "head"}}

<title>Users Page</title>
<h1>List User</h1>
<hr />

<a class="btn btn-primary" href="/users/create">Create User +</a>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {{range .}}
        <tr>
            <th scope="row">{{.Id}}</th>
            <td>{{.Name}}</td>
            <td>{{.Email}}</td>
            <td>
                <a class="btn btn-warning" href="/users/update?id={{.Id}}">Edit</a>
                <a class="btn btn-danger" href="/users/delete?id={{.Id}}">Delete</a>
            </td>
        </tr>
            {{end}}
        </tbody>
    </table>
</div>

{{template "footer"}}